In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [57]:
df = pd.read_csv("Lobbyist_compensation_by_funding_source_name.csv")

In [58]:
df.head()

           funding_source_name  compensation
0  Pedro Espinoza-Bravo (Self)           0.0
1     Washington Green Schools       40500.0
2                 Ashley House       37548.8
3          CIVIC GROUP* (Self)           0.0
4       PACIFIC SCIENCE CENTER      170100.0

In [59]:
len(df)

3803

In [60]:
df.loc[df["compensation"] == 0].index

Int64Index([   0,    3,    6,    8,   10,   17,   18,   19,   21,   29,
            ...
            3763, 3765, 3766, 3769, 3774, 3778, 3782, 3783, 3791, 3801],
           dtype='int64', length=1534)

In [61]:
counted_df = df.drop(df.loc[df["compensation"] == 0].index)

In [62]:
counted_df

                    funding_source_name  compensation
1              Washington Green Schools      40500.00
2                          Ashley House      37548.80
4                PACIFIC SCIENCE CENTER     170100.00
5                City of Airway Heights      30000.00
7                            TEKNI-PLEX      73000.01
...                                 ...           ...
3797              ALLSTATE INSURANCE CO     244500.00
3798      Jensen Motor Boat Corporation      10000.00
3799  Center for Democracy & Technology       1829.63
3800                       Airbnb, Inc.      36000.00
3802              Molina Healthcare Inc      94725.00

[2269 rows x 2 columns]

In [67]:
counted_df['funding_source_name']=counted_df['funding_source_name'].astype(str)

In [79]:
counted_df['funding_source_name'].str.strip().str.title()

1                Washington Green Schools
2                            Ashley House
4                  Pacific Science Center
5                  City Of Airway Heights
7                              Tekni-Plex
                      ...
3797                Allstate Insurance Co
3798        Jensen Motor Boat Corporation
3799    Center For Democracy & Technology
3800                         Airbnb, Inc.
3802                Molina Healthcare Inc
Name: funding_source_name, Length: 2269, dtype: object

In [80]:
counted_df

                    funding_source_name  compensation
1              Washington Green Schools      40500.00
2                          Ashley House      37548.80
4                PACIFIC SCIENCE CENTER     170100.00
5                City of Airway Heights      30000.00
7                            TEKNI-PLEX      73000.01
...                                 ...           ...
3797              ALLSTATE INSURANCE CO     244500.00
3798      Jensen Motor Boat Corporation      10000.00
3799  Center for Democracy & Technology       1829.63
3800                       Airbnb, Inc.      36000.00
3802              Molina Healthcare Inc      94725.00

[2269 rows x 2 columns]